
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ajouter</title>
</head>
<body>
    <div> 
        <form method="post" id="formCreateMarketer">

            Nom: <input id="nom" type="text" /><br /><br />
            Telephone: <input id="telephone" type="text" /><br /><br />
            Email: <input id="email" type="text" /><br /><br />
            Adresse: <input id="adresse" type="text" /><br /><br />
            Ville: <input id="ville" type="text" /><br /><br />
            Pays: <input id="pays" type="text" /><br /><br />

            <input id="Reset1" type="reset" value="reset" />  <input id="save" type="submit" value="Enregistrer" />

        </form>
    </div>
</body>
</html>
